*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
}


h1{
    margin-top: 20px;
    text-align: center;
    color: white;
}

h2{
    text-align: center;
    color: white;
}



.video{
   margin-top: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 10px;
}

a h3{
    color: white;
    text-align: center;
    font-size: 22px;
    margin-bottom: 10px;

}